@import url(/css/pfSense.css);

.form-control,
body {
    font-size: 12px
}

:root {
    --navy: #0018A8;
    --indigo: #00416a
}

body {
    font-family: sans-serif
}

.container.fixed {
    padding-top: 40px
}

.navbar {
    margin-bottom: 2px;
    min-height: 30px
}

.navbar-inverse {
    background-color: var(--indigo)
}

.navbar-brand>svg {
    max-width: 65px
}

.navbar-brand>span {
    font-size: .5em
}

.panel-title,
table.sortable-theme-bootstrap[data-sortable] {
    font-size: 12px;
    font-family: sans-serif
}

.navbar-brand {
    line-height: 10px;
    padding: 2px 0 0 5px;
    height: 32px
}

.navbar-brand>img {
    max-height: 26px
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    border-bottom: 5px solid var(--indigo)
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ccc
}

.text-muted {
    color: #BDBDBD
}

.text-muted>a:hover {
    color: #ccc
}

.nav>li>a {
    padding: 5px 19px 0
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: var(--indigo)
}

.nav-pills {
    margin-bottom: 0;
    color: var(--blue);
    border-bottom-color: var(--blue)
}

.nav-pills>li>a {
    margin-bottom: 0;
    color: var(--blue);
    border-bottom: 2px solid;
    border-bottom-color: var(--blue)
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: var(--blue);
    border-bottom: 3px solid;
    border-bottom-color: var(--blue)
}

.dropdown-menu>li>a {
    padding: 0 20px;
    line-height: 26px
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #e0e0e0
}

.navbar-right>li>a {
    padding: 2px 15px 1px
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0
}

.breadcrumb,
.form-control {
    margin-bottom: 2px
}

.nav li.open>a,
.nav li.open>a:focus,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    border-bottom: 4px solid;
    border-bottom-color: var(--blue);
    color: var(--blue)
}

.panel-default>.panel-heading {
    padding: 2px 5px 2px 15px;
    background-color: var(--indigo)
}

.panel-title {
    line-height: 18px;
    font-weight: 700
}

.form-group {
    padding: 2px 5px
}

.user-duplication .controls {
    margin-top: 0
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 2px
}

.table-striped>tbody>tr:hover {
    background-color: #e0e0e0
}

.header .context-links {
    top: 1px;
    color: var(--blue)
}

ul.context-links li a {
    color: var(--indigo)
}

.breadcrumb {
    padding: 0 15px;
    font-size: 14px
}

.footer {
    height: 40px;
    background-color: var(--indigo)
}

.btn {
    padding: 2px 12px
}

.dropdown-menu {
    font-size: 12px
}

.form-horizontal .checkbox {
    padding: 2px 16px
}

.chkboxlbl {
    padding-top: 0
}

.form-horizontal .checkbox,
.form-horizontal .radio {
    min-height: 20px
}

.progress {
    background-color: var(--blue)
}

.progress-bar {
    background-color: var(--indigo)
}

@media (min-width:768px) {
    .form-horizontal .control-label {
        padding-top: 4px
    }
}

.col-sm-10 {
    padding-top: 0
}